/**
 * Copyright 2012 CodeCanopy
 */

body {
height:100%;
overflow-x:hidden;
overflow-y:hidden;
margin:0;
padding:0;
}

html {
height:100%;
}

img {
border:0;
outline:0;
}

#bar {
width:100%;
height:34px;

background: #3d9ac3;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkOWFjMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDg1YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #3d9ac3 0%, #0085bf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d9ac3), color-stop(100%,#0085bf));
background: -webkit-linear-gradient(top,  #3d9ac3 0%,#0085bf 100%);
background: -o-linear-gradient(top,  #3d9ac3 0%,#0085bf 100%);
background: -ms-linear-gradient(top,  #3d9ac3 0%,#0085bf 100%);
background: linear-gradient(to bottom,  #3d9ac3 0%,#0085bf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d9ac3', endColorstr='#0085bf',GradientType=0 );

position:absolute;
z-index:99;
margin:0;
padding:0;
}

#meela_share {
height:25px;
width:200px;
float:left;
margin:7px 2px;
}

#meela_shareimg {
float:left;
width:125px;
height:17px;
margin:7px 2px 7px 7px;
}

#meela_mini_logo {
float:left;
width:100px;
height:36px;
margin-left:10px;
}

#meela_box {
width:100%;
height:100%;
padding-top:35px;
}

.meela_frame {
margin-top:34px;
}

#close {
float:right;
font:Arial, Helvetica, sans-serif;
color:#FFF;
text-decoration:none;
font-weight:700;
width:100px;
margin:7px;
}

#textadf {
float:right;
background: #FFCD00;
color: #000;
text-decoration:none;
font-weight:bold;
padding: 0 10px;
margin:8px 7px 7px 7px;
text-align: center;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

#close:link {
color:#FFF;
text-decoration:none;
}

.result_h {text-shadow:0px 0px 10px green;}
